@model Taisser.Manager.PaggingManger<Miar.ViewModel.MessageList>

@{
    ViewData["Title"] = "الرسائل";
}


<div class="col mt-2" dir="rtl" style="text-align:right">
    <div class="card bg-default shadow" id="AllMembersCard">
        <div class="card-header bg-transparent border-0">
            <div>
                <h3 style="font-family:'Cairo-SemiBold'; " class="text-dark mb-0">الرسائل</h3>

            </div>


        </div>

        <div class="row Search_group">



            <div class=" col-lg-5">
                <div class="form-group">
                    <label class="control-label text-dark mb-1"> من تاريخ</label>
                    <input id="ResultDate_From" type="date" class="form-control" />

                </div>
                @if (User.IsInRole("Admin"))
                {
                    <input hidden readonly disabled id="UserRole" value="Admin" />

                }
                else if (User.IsInRole("User"))
                {
                    <input hidden readonly disabled id="UserRole" value="User" />

                }
            </div>


            <div class="col-lg-5">
                <div class="form-group mb-2">
                    <label class="control-label text-dark mb-1"> إلى تاريخ</label>
                    <input id="ResultDate_To" type="date" class="form-control" />

                </div>

            </div>

            <div class=" col-lg-2">
                <div class="form-group mb-2">
                    <button id="BtnSearch" class="btn btn-primary" style="width: 100%; margin-top: 27px;">بحـث</button>

                </div>
            </div>




        </div>

        <div class="table-responsive">
            <table class="table" dir="rtl" id="TestsTable">
                <thead>
                    <tr>

                        <th>
                            الاسم
                        </th>
                        <th >
                           رقم الهاتف
                        </th>
                        <th class="d-none d-lg-block">
                            التاريخ
                        </th>
                        <th>
                            الرساله
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td >
                                <a href="tel:@Html.DisplayFor(modelItem => item.Tele)">@Html.DisplayFor(modelItem => item.Tele)</a> 
                            </td>
                            <td class="d-none d-lg-block">
                                @Html.DisplayFor(modelItem => item.EnterDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>
                            <td>
                                @if (User.IsInRole("Admin"))
                                {
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Key }, new { @class = "text-danger" });
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <div class="card-footer d-flex  bg-transparent">
            <ul class="pagination" style=" padding-right: 0; ">

                <li class="page-item  disabled " id="previes">
                    <a aria-label="Previous" class="page-link">
                        <span aria-hidden="true">
                            <img src="~/img/angle-right-olid.svg" />
                        </span>
                    </a>
                </li>
                @for (int i = 0; i < @ViewBag.PagesNum; i++)
                {
                    if (i == 0)
                    {
                        <li class="page-item active PageNumber " id="@(i+1)"><a class="page-link">@(i + 1)</a></li>

                    }
                    else
                    {
                        if ((i + 1) > 10)
                        {

                            <li class="page-item" id="SeeMore"><a class="page-link">...</a></li>
                            <li class="page-item PageNumber" id="@ViewBag.PagesNum"><a class="page-link">@ViewBag.PagesNum</a></li>
                            break;

                        }


                        <li class="page-item PageNumber" id="@(i+1)"><a class="page-link">@(i + 1)</a></li>

                    }

                }

                @if (@ViewBag.PagesNum > 1)
                {
                    <li class="page-item" id="Next">
                        <a aria-label="Next" class="page-link">
                            <span aria-hidden="true">
                                <img src="~/img/angle-left-solid.svg" />
                            </span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled" id="Next">
                        <a aria-label="Next" class="page-link">
                            <span aria-hidden="true">
                                <img src="~/img/angle-left-solid.svg" />
                            </span>
                        </a>
                    </li>

                }
                <li class="TableControl">
                    <span>
                        <span style="">عرض</span>


                        <input id="CountShow" class="form-control" type="tel" style="width: 50px; margin-right: 5px; height: 20px; display: unset" value="5" />
                    </span>
                </li>
                <li class="TableControl">
                    <span>
                        <span id="TotalCount">@ViewBag.TotalNum</span>
                        /
                        @if (@ViewBag.PagesNum > 1)
                        {
                            <span id="CurrentCount"> 5</span>

                        }
                        else
                        { <span id="CurrentCount"> @ViewBag.TotalNum</span>
                    }



                    </span>
                </li>

            </ul>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/js/PaggingTabel.js"></script>

    <script src="~/js/Messages.js"></script>

}